# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Revert CRC to Snapshot
        run: |
          sudo virsh destroy crc
          sudo virsh snapshot-revert --domain crc --snapshotname crc-snapshot
          
      - name: Start CRC node
        run: |
          crc start --log-level debug
          sleep 60

      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: https://api.crc.testing:6443
          openshift_username: kubeadmin
          openshift_password: 12345678
          insecure_skip_tls_verify: true
          
      - name: Install Operators
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 5
          command: bash $HOME/install_operator.sh
